<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrierung</title>
</head>
<body>
<h1 th:text="#{label.form.title}">Registieren</h1>
<form action="/" th:object="${player}" method="POST" enctype="utf8">
    <div>
        <label th:text="#{label.player.email}">Email</label>
        <input type="email" th:field="*{email}"/>
        <p th:each="error : ${#fields.errors('email')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label th:text="#{label.player.password}">password</label>
        <input type="password" th:field="*{password}"/>
        <p th:each="error : ${#fields.errors('password')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label th:text="#{label.player.confirmPass}">confirm</label>
        <input type="password" th:field="*{matchingPassword}"/>
    </div>
    <div>
        <label th:text="#{label.player.name}">Spielername</label>
        <input th:field="*{name}"/>
        <p th:each="error: ${#fields.errors('name')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label th:text="#{label.user.species}">Spezies</label>
        <select name="species">
            <option value="ASSAMERER">Assamerer</option>
            <option value="BLOODANCER">Bloodancer</option>
            <option value="SCIENCER">Sciencer</option>
        </select>
    </div>
    <button type="submit" th:text="#{label.form.submit}">submit</button>
</form>
<a th:href="@{/login.html}" th:text="#{label.form.loginLink}">login</a>
</body>
</html>